<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" [formControl]="form.controls.email" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
    </div>

    <button class="button">Login</button>
  </div>

  @if (isEmailInvalid) {
  <p class="control-error">Please enter a valid email address</p>
  } @if (isPasswordLengthInvalid) {
  <p class="control-error">Password must be at least 6 characters long</p>
  } @if (doesNotPasswordContainQuestionMark) {
  <p class="control-error">Password must contain a question mark (?)</p>
  }
</form>
